body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec; /* Light pink background */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White container background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ff4081; /* Pink heading color */
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ff4081; /* Pink border */
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff4081; /* Pink button background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff80ab; /* Lighter pink on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #fff; /* White task item background */
    border-bottom: 1px solid #ff4081; /* Pink border bottom */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    color: #888;
}


.deleteButton {
    background-color: #ff9999; /* Light red background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
}

.deleteButton:hover {
    background-color: #ff6666; /* Darker red on hover */
}

p{
    color: #ff4081;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}